*.pyc
docs/build/
expected_*
test_*
tests.sh
*.test
test.samplegroups1
lucene_range_ids.test
snapconf.py
lucene_indexed_numeric_types.tsv
samples.tsv.inferred
python/
calc*
scripts/groupby/calc
data/
*.swp
